<h1>Welcome To Kittens API</h1>
<p>Here are all your kittens: </p>

<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      
    </tr>
  </thead>
  <tbody>
    <% @kittens.each do |kitten| %>
    <tr>
      <td style="width:12%"> <%=kitten.name%> </td>
      <td style="width:12%"><%= kitten.age %> </td>
      <td ><%= button_to "Show Kitten Profile", kitten, class: "btn btn-success" %></td>
    <% end %>
  </tbody>
  
</table>
